.home {

    .row {
        &.mentors-cta {
            h2 {
                font-size: $h2-font-size;
            }
            .btn {
                max-width: fit-content;
            }
            .card-body {
                align-items: center;
            }
        }
    }

    .programs article {
        margin: 1rem .25rem;
    }

    .programs article a {
        display: block;
        padding: 1.5rem 1rem;
        background: #fff;
        border-radius: 12px;

        &:hover {
            background-color: $primary-80;
            color: $primary-10;
            text-decoration: none;
        }

        .material-symbols-outlined {
            color: $black;
        }
    }
}