
.team {

    .card-media {
        padding: 2rem;
        img {
            border-radius: 100%;
        }
    }
    
    .network {
        a {
            display: inline-block;
            margin-right: 0.5rem;
            svg {
                height: 30px;
                width: 30px;
                fill: $primary;
            }
        }
    }
}